
.perfil img{
    width: 20%;
    height: auto;
    border-radius: 50%;
    float: left;
}
div{
    float:left;
    margin-right:5px;
}

div > img{
   height:400px;
    width:400px;
}

p{
    text-align:center;
}