body{
    background-color: white;
}

div{
    float:left;
    margin-right:5px;
    margin-left: 5px;
}

.perfil{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    padding: 15px;
}

.perfil img{
    width: 20%;
    height: auto;
    border-radius: 50%;
    float: left;
}

.gallery{
    display: flex;
    justify-content: center;
}

.column a img{
    height:400px;
    width:400px;
    margin: 5px;
    justify-content: center;
}

@media only screen and (max-width: 768px){
    .gallery{
        flex-direction: column;
    }
    .column {
        display: flex;
        flex-direction: column;
        flex: 100%;
        max-width: 100%;
    }
    .column a img{
        width: 100%;
    }
}

